<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>840991282038-vdd91hp8lbnu5e8rhrrsvk4hn3tl87bh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.840991282038-vdd91hp8lbnu5e8rhrrsvk4hn3tl87bh</string>
	<key>API_KEY</key>
	<string>AIzaSyCozDWurN7y1oTeAXOiJeYsPnB0Cg2IQCo</string>
	<key>GCM_SENDER_ID</key>
	<string>840991282038</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.garimabothra.RecogX</string>
	<key>PROJECT_ID</key>
	<string>recogx-603c8</string>
	<key>STORAGE_BUCKET</key>
	<string>recogx-603c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:840991282038:ios:18f833120e763b2560e057</string>
	<key>DATABASE_URL</key>
	<string>https://recogx-603c8.firebaseio.com</string>
</dict>
</plist>